<section class="vertical-scrolling mx-auto h-100">
    <div class="container-fluid h-100 px-0">
        <div class="row pl-50 pr-50 mt-5 mb-10 no-gutters product_info">
        <div class="col-lg-6">
            <div class="row no-gutters">
            <div class="col-lg-8">
                <p class="fs36">{{premium_eco_materials}}</p>
            </div>
            <div class="col-lg-6">
                <p>&nbsp;</p>
            </div>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1">
            {{shop.metafields.string_translation.the_fully_plant_based_acetate}}
        </div>
    </div>
</section>  